.highlight {
  color: lightblue;
}

.highlight-true {
  background-color: green;
}

.highlight-mostly-true {
  background-color: lightgreen;
}

.highlight-half-true {
  background-color: yellow;
}

.highlight-mostly-false {
  background-color: orange;
}

.highlight-false {
  background-color: red;
}

.highlight-pants-of-fire {
  background-color: darkred;
}

.color-true {
  color: #1CB454;
}
.color-mostly-true {
  color: #12AF9F;
}
.color-half-true {
  color: #9ADE2C;
}
.color-mostly-false {
  color: #EE53A1;
}
.color-false {
  color: #9131E7;
}
.color-pants-fire {
  color: #CF3434;
}

.color-all {
  color: black;
}

.color-gray {
  color: gray;
}

